In [2]:
import os
from owlready2 import *
import pandas as pd

def count_ontology_elements(ontology_path):
    # Load the ontology
    onto = get_ontology(ontology_path).load()
    
    # Count the elements
    num_classes = len(list(onto.classes()))
    num_individuals = len(list(onto.individuals()))
    num_object_properties = len(list(onto.object_properties()))
    num_data_properties = len(list(onto.data_properties()))
     
    counts = {
        "filename": os.path.basename(ontology_path),
        "classes": num_classes,
        "individuals": num_individuals,
        "object_properties": num_object_properties,
        "data_properties": num_data_properties
    }
    
    return counts

def count_elements_in_directory(directory_path): 
    ontology_counts = {}
    
    # Supported ontology file extensions
    supported_extensions = (".owl", ".ttl", ".rdf")
    
    # Iterate over all files in the directory
    for filename in os.listdir(directory_path):
        if filename.endswith(supported_extensions):   
            ontology_path = os.path.join(directory_path, filename)
            counts = count_ontology_elements(ontology_path)
            ontology_counts[filename] = counts
    
    return ontology_counts

Warning: SQLite3 version 3.40.0 and 3.41.2 have huge performance regressions; please install version 3.41.1 or 3.42!

In [3]:
directory_path = "../Data"
ontology_counts = count_elements_in_directory(directory_path)

df = pd.DataFrame.from_dict(ontology_counts,orient='index')
df_reset = df.reset_index(drop=True)
df_reset

* Owlready2 * WARNING: ObjectProperty http://purl.org/dc/terms/source belongs to more than one entity types: [owl.AnnotationProperty, owl.ObjectProperty]; I'm trying to fix it...

    filename  classes  individuals  object_properties  data_properties
0    sio.owl     1584            0                211                1
1    eco.owl     3337           18                 47                3
2  sepio.owl      125           21                210               32

In [4]:
print(df_reset.to_string(index=False))

 filename  classes  individuals  object_properties  data_properties
  sio.owl     1584            0                211                1
  eco.owl     3337           18                 47                3
sepio.owl      125           21                210               32